@model IEnumerable<SDStudentPortal.Models.UserModel>

@{
    ViewBag.Title = "AdminIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmailPrivacySetting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePictureURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePictureURLPrivacySetting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressPrivacySetting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberPrivacySetting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirthPrivacySetting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillsPrivacySetting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Certificates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertificatesPrivacySetting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memberships)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MembershipsPrivacySetting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExperiencePrivacySetting)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmailPrivacySetting)
        </td>
        <td>
            <img src="../../@Html.DisplayFor(modelItem => item.ProfilePictureURL)" style="height:150px; width:150px"/>
         </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfilePictureURLPrivacySetting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressPrivacySetting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberPrivacySetting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirthPrivacySetting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skills)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillsPrivacySetting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Certificates)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CertificatesPrivacySetting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memberships)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MembershipsPrivacySetting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExperiencePrivacySetting)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserModelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserModelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserModelID })
        </td>
    </tr>
}

</table>
