@model IEnumerable<SDStudentPortal.Models.UserModel>
<link href="~/Content/StyleSheet2.css" rel="stylesheet" />
@{
    ViewBag.Title = "SeachUsers";
}

<h2>Search Users</h2>
@using (Html.BeginForm())
{
    <p>
        Search Users: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
}

<div class="container">
    <div class="row">
        @*<div class="col col-lg-12">*@
        <div class="col-sm-3">
            @foreach (var item in Model)
            {
                <div class="card hovercard">
                    <div class="cardheader">
                        @*<img alt="" class="blur" src="../../@Html.DisplayFor(modelItem => item.ProfilePictureURL)"/>*@
                    </div>
                    <div class="avatar">
                        <a a href='@Url.Action("Details", "StudentProfiles")'>
                            <img alt="" src="../../@Html.DisplayFor(modelItem => item.ProfilePictureURL)" />
                        </a>
                    </div>
                    <div class="info">
                        <div class="title">
                            @Html.ActionLink("Detail", "Details", "StudentProfiles", new { id = item.UserId },null)
                            
                            @*<a target="_blank" href='@Url.Action("Details", "StudentProfiles")'>@item.FirstName @item.LastName</a>*@
                        </div>
                    </div>
                    <div class="bottom">
                        @item.ProfileName
                    </div>
                </div>
            }
        </div>
    </div>
</div>