@model IEnumerable<SDStudentPortal.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Blog", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogCreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogUpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPrivacySetting)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogCreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogUpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogPrivacySetting)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BlogID }) |
                @Html.ActionLink("Details", "Details", new { id = item.BlogID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BlogID })
            </td>
        </tr>
    }

</table>

