@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using SDStudentPortal.Models

<link href="~/Content/Custom.css" rel="stylesheet" />
@if (Request.IsAuthenticated)
{
    var userStore = new UserStore<ApplicationUser>(new ApplicationDbContext());
    var manager = new UserManager<ApplicationUser>(userStore);
    var currentUser = manager.FindById(User.Identity.GetUserId());

    if (currentUser.EmailConfirmed)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Blog", "Index", "Blog");
                </li>
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Create", "UserModels", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li>
                    <button type="button" class="btn btn-danger btn-lg btn3d" onclick="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-off"></span>Log Off</button>
                </li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li><button type="button" class="btn btn-success btn-lg btn3d" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");"><span class="glyphicon glyphicon-log-in"></span> &nbsp;Log In</button></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li><button type="button" class="btn btn-success btn-lg btn3d" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");"><span class="glyphicon glyphicon-log-in"></span> &nbsp;Log In</button></li>
    </ul>
}