@model SDStudentPortal.Models.Project

@{
    ViewBag.Title = "Edit";
    var grid = new WebGrid(ViewBag.ProjectFile, canPage: true, rowsPerPage: 5,
    selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.NextPrevious);
    
}

<link href="~/Content/Custom.css" rel="stylesheet" />

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.HiddenFor(model => model.ProjectID)

        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Add File to Project", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ActionLink("Add File to Project", "Create", "Uploads", new { ProjectID = @Model.ProjectID, returnUrl = HttpContext.Current.Request.RawUrl }, null)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Files", htmlAttributes: new { @class = "control-label col-md-2" })
            <div id="col-md-10">
                @grid.GetHtml(tableStyle: "webGrid",
                                headerStyle: "header",
                                alternatingRowStyle: "alt",
                                selectedRowStyle: "select",
                                columns: grid.Columns(
                                    grid.Column("File#", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
                                    grid.Column("Title", "Title"),
                                    grid.Column("Description","Description"),
                                    grid.Column("UploadFileUrl","File",format: @<text><img src="@item.UploadFileUrl" /></text>),
                                    grid.Column("", "Actions", format:@<text> @Html.ActionLink("Edit", "Edit", "Uploads", new { id = item.UploadsID, returnUrl = HttpContext.Current.Request.RawUrl }, new { @class = "btn btn-success btn-sm btn3d" }) @Html.ActionLink("Delete", "Delete", "Uploads", new { id = item.UploadsID, returnUrl = HttpContext.Current.Request.RawUrl }, new { @class = "btn btn-danger btn-sm btn3d" })</text>)
                              ))               
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
